name: Build and Push DO registry cleaner image

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: thegangtechnology
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build ./untage-image/Dockerfile -t ghcr.io/thegangtechnology/digitalocean-image-registry-cleaner:latest
        docker tag ghcr.io/thegangtechnology/digitalocean-image-registry-cleaner:latest ghcr.io/thegangtechnology/digitalocean-image-registry-cleaner:${{ github.ref_name}}

    - name: Push Docker image
      run: |
        docker push ghcr.io/thegangtechnology/digitalocean-image-registry-cleaner:latest
        docker push ghcr.io/thegangtechnology/digitalocean-image-registry-cleaner:${{ github.ref_name}}